interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_from_unmanaged_disk000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001","name":"cli_test_vm_from_unmanaged_disk000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-09-16T07:03:46Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS\": {\n            \"publisher\": \"OpenLogic\",\n            \"offer\"\
        : \"CentOS\",\n            \"sku\": \"7.5\",\n            \"version\": \"\
        latest\"\n          },\n          \"CoreOS\": {\n            \"publisher\"\
        : \"CoreOS\",\n            \"offer\": \"CoreOS\",\n            \"sku\": \"\
        Stable\",\n            \"version\": \"latest\"\n          },\n          \"\
        Debian\": {\n            \"publisher\": \"Debian\",\n            \"offer\"\
        : \"debian-10\",\n            \"sku\": \"10\",\n            \"version\": \"\
        latest\"\n          },\n          \"openSUSE-Leap\": {\n            \"publisher\"\
        : \"SUSE\",\n            \"offer\": \"openSUSE-Leap\",\n            \"sku\"\
        : \"42.3\",\n            \"version\": \"latest\"\n          },\n         \
        \ \"RHEL\": {\n            \"publisher\": \"RedHat\",\n            \"offer\"\
        : \"RHEL\",\n            \"sku\": \"7-LVM\",\n            \"version\": \"\
        latest\"\n          },\n          \"SLES\": {\n            \"publisher\":\
        \ \"SUSE\",\n            \"offer\": \"SLES\",\n            \"sku\": \"15\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"UbuntuLTS\"\
        : {\n            \"publisher\": \"Canonical\",\n            \"offer\": \"\
        UbuntuServer\",\n            \"sku\": \"18.04-LTS\",\n            \"version\"\
        : \"latest\"\n          }\n        },\n        \"Windows\": {\n          \"\
        Win2019Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2019-Datacenter\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"Win2016Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2016-Datacenter\",\n \
        \           \"version\": \"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2012-R2-Datacenter\",\n\
        \            \"version\": \"latest\"\n          },\n          \"Win2012Datacenter\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\",\n \
        \           \"version\": \"latest\"\n          },\n          \"Win2008R2SP1\"\
        : {\n            \"publisher\": \"MicrosoftWindowsServer\",\n            \"\
        offer\": \"WindowsServer\",\n            \"sku\": \"2008-R2-SP1\",\n     \
        \       \"version\": \"latest\"\n          }\n        }\n      }\n    }\n\
        \  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"540044b4084c3c314537f1baa1770f248628b2bc9ba0328f1004c33862e049da"
      source-age:
      - '231'
      x-fastly-request-id:
      - e91b9f70a938dfb11b747b4605edcc32c32cab86
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"type": "Microsoft.Storage/storageAccounts", "name": "vhdstoraged93a1259cc1798",
      "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn": [],
      "properties": {"accountType": "Premium_LRS"}}, {"name": "vm1VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "vm1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type":
      "Microsoft.Network/networkSecurityGroups", "name": "vm1NSG", "apiVersion": "2015-06-15",
      "location": "westus", "tags": {}, "dependsOn": []}, {"apiVersion": "2018-01-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "vm1PublicIP", "location":
      "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      null}}, {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "vm1VMNic", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET",
      "Microsoft.Network/networkSecurityGroups/vm1NSG", "Microsoft.Network/publicIpAddresses/vm1PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigvm1", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"}}},
      {"apiVersion": "2020-06-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Storage/storageAccounts/vhdstoraged93a1259cc1798",
      "Microsoft.Network/networkInterfaces/vm1VMNic"], "properties": {"hardwareProfile":
      {"vmSize": "Standard_DS1_v2"}, "networkProfile": {"networkInterfaces": [{"id":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic"}]},
      "storageProfile": {"osDisk": {"createOption": "fromImage", "name": "osdisk_d93a1259cc",
      "caching": "ReadWrite", "vhd": {"uri": "https://vhdstoraged93a1259cc1798.blob.core.windows.net/vhds/osdisk_d93a1259cc.vhd"}},
      "imageReference": {"publisher": "Debian", "offer": "debian-10", "sku": "10",
      "version": "latest"}}, "osProfile": {"computerName": "vm1", "adminUsername":
      "ubuntu", "adminPassword": "[parameters(''adminPassword'')]"}}}], "outputs":
      {}}, "parameters": {"adminPassword": {"value": "testPassword0"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Resources/deployments/vm_deploy_gHL3XMTSrf2ddaxe4nsOare2j9d55yXI","name":"vm_deploy_gHL3XMTSrf2ddaxe4nsOare2j9d55yXI","type":"Microsoft.Resources/deployments","properties":{"templateHash":"12262852710463110249","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2020-09-16T07:03:51.6535103Z","duration":"PT1.964544S","correlationId":"1b8e8138-d294-47e3-9c85-0e4a91ef0a32","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586013670557886637?api-version=2020-06-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Resources/deployments/vm_deploy_gHL3XMTSrf2ddaxe4nsOa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"\
        b6f3f192-7c0d-4042-9ef9-edecccbd6cd1\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Debian\",\r\
        \n        \"offer\": \"debian-10\",\r\n        \"sku\": \"10\",\r\n      \
        \  \"version\": \"latest\",\r\n        \"exactVersion\": \"0.20200803.347\"\
        \r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n\
        \        \"name\": \"osdisk_d93a1259cc\",\r\n        \"createOption\": \"\
        FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://vhdstoraged93a1259cc1798.blob.core.windows.net/vhds/osdisk_d93a1259cc.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\"\
        : {\r\n      \"computerName\": \"vm1\",\r\n      \"adminUsername\": \"ubuntu\"\
        ,\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\"\
        : false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\"\
        : {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\
        \n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n\
        \      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\"\
        : {\r\n      \"computerName\": \"vm1\",\r\n      \"osName\": \"debian\",\r\
        \n      \"osVersion\": \"10.5\",\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\"\
        : \"2.2.45\",\r\n        \"statuses\": [\r\n          {\r\n            \"\
        code\": \"ProvisioningState/succeeded\",\r\n            \"level\": \"Info\"\
        ,\r\n            \"displayStatus\": \"Ready\",\r\n            \"message\"\
        : \"Guest Agent is running\",\r\n            \"time\": \"2020-09-16T07:15:24+00:00\"\
        \r\n          }\r\n        ],\r\n        \"extensionHandlers\": []\r\n   \
        \   },\r\n      \"disks\": [\r\n        {\r\n          \"name\": \"osdisk_d93a1259cc\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2020-09-16T07:04:20.266635+00:00\"\r\n            }\r\n\
        \          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V1\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2020-09-16T07:15:13.3163183+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3990,Microsoft.Compute/LowCostGet30Min;31950
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"e090fa0c-3650-49de-9419-3a8b818919a3\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"20cf49ff-aec6-4878-85e3-f99c1366bead\"\
        ,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"e090fa0c-3650-49de-9419-3a8b818919a3\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"wulvw5j52ooejblo4ra0veojpa.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-22-48-08-C4-6D\",\r\n    \"enableAcceleratedNetworking\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e090fa0c-3650-49de-9419-3a8b818919a3"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"50e8cfc3-8178-420b-94dc-1a9141f12a5a\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b8e832e7-904b-4710-bd57-4c2fe5333bc3\"\
        ,\r\n    \"ipAddress\": \"104.42.148.2\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"50e8cfc3-8178-420b-94dc-1a9141f12a5a"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1\"[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm1/powerOff?skipShutdown=false&api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2e457eae-377f-414a-b2c9-4fd0ae156ed1?api-version=2020-06-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2e457eae-377f-414a-b2c9-4fd0ae156ed1?monitor=true&api-version=2020-06-01
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1196
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/operations/2e457eae-377f-414a-b2c9-4fd0ae156ed1?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-09-16T07:15:28.066392+00:00\",\r\n  \"\
        endTime\": \"2020-09-16T07:15:40.6446205+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"name\": \"2e457eae-377f-414a-b2c9-4fd0ae156ed1\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29925
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "sku": {"name": "Premium_LRS"}, "properties":
      {"osType": "Linux", "hyperVGeneration": "V1", "creationData": {"createOption":
      "Import", "storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Storage/storageAccounts/vhdstoraged93a1259cc1798",
      "sourceUri": "https://vhdstoraged93a1259cc1798.blob.core.windows.net/vhds/osdisk_d93a1259cc.vhd"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/disks/os1?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"name\": \"os1\",\r\n  \"location\": \"westus\",\r\n  \"tags\"\
        : {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n  \"properties\"\
        : {\r\n    \"osType\": \"Linux\",\r\n    \"hyperVGeneration\": \"V1\",\r\n\
        \    \"creationData\": {\r\n      \"createOption\": \"Import\",\r\n      \"\
        storageAccountId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Storage/storageAccounts/vhdstoraged93a1259cc1798\"\
        ,\r\n      \"sourceUri\": \"https://vhdstoraged93a1259cc1798.blob.core.windows.net/vhds/osdisk_d93a1259cc.vhd\"\
        \r\n    },\r\n    \"provisioningState\": \"Updating\",\r\n    \"diskSizeBytes\"\
        : 32212254720,\r\n    \"isArmResource\": true,\r\n    \"tier\": \"P4\"\r\n\
        \  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/673a24ba-cb5c-4c80-9833-45cbe8d44f26?api-version=2020-06-30
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/673a24ba-cb5c-4c80-9833-45cbe8d44f26?monitor=true&api-version=2020-06-30
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;998,Microsoft.Compute/CreateUpdateDisks30Min;7984
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/DiskOperations/673a24ba-cb5c-4c80-9833-45cbe8d44f26?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-09-16T07:16:01.5388187+00:00\",\r\n  \"\
        endTime\": \"2020-09-16T07:16:02.2575936+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"os1\",\r\n\
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/disks/os1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westus\"\
        ,\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n\
        \    \"tier\": \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"osType\"\
        : \"Linux\",\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"Import\",\r\n      \"storageAccountId\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Storage/storageAccounts/vhdstoraged93a1259cc1798\"\
        ,\r\n      \"sourceUri\": \"https://vhdstoraged93a1259cc1798.blob.core.windows.net/vhds/osdisk_d93a1259cc.vhd\"\
        \r\n    },\r\n    \"diskSizeGB\": 30,\r\n    \"diskIOPSReadWrite\": 120,\r\
        \n    \"diskMBpsReadWrite\": 25,\r\n    \"encryption\": {\r\n      \"type\"\
        : \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"timeCreated\": \"\
        2020-09-16T07:16:01.6325425+00:00\",\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\": 32212254720,\r\
        \n    \"uniqueId\": \"f0d5b84d-7e0c-4caa-99d7-e025f297f18d\",\r\n    \"networkAccessPolicy\"\
        : \"AllowAll\",\r\n    \"tier\": \"P4\"\r\n  }\r\n}\r\n  },\r\n  \"name\"\
        : \"673a24ba-cb5c-4c80-9833-45cbe8d44f26\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49979,Microsoft.Compute/GetOperation30Min;399848
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/disks/os1?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"name\": \"os1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/disks/os1\"\
        ,\r\n  \"t[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm2?$expand=instanceView&api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_vm_from_unmanaged_disk000001/providers/Microsoft.Compute/virtualMachines/vm2\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"vmId\": \"\
        dec77820-2d2c-4295-ac88-171f42bea3b9\",\r\n    \"hardwareProfile\": {\r\n\
        \      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\"\
        : {\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"\
        name\": \"os1\",\r\n        \"createOption\": \"Attach\",\r\n        \"caching\"\
[...]
