interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_disk_zones000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001","name":"cli_test_disk_zones000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2","tags":{"product":"azurecli","cause":"automation","date":"2020-09-16T07:03:56Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2", "tags": {}, "sku": {"name": "Premium_LRS"}, "zones":
      ["2"], "properties": {"hyperVGeneration": "V1", "creationData": {"createOption":
      "Empty"}, "diskSizeGB": 1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"name\": \"disk123\",\r\n  \"location\": \"eastus2\",\r\n \
        \ \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"sku\": {\r\n\
        \    \"name\": \"Premium_LRS\"\r\n  },\r\n  \"properties\": {\r\n    \"hyperVGeneration\"\
        : \"V1\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\
        \n    },\r\n    \"diskSizeGB\": 1,\r\n    \"provisioningState\": \"Updating\"\
        ,\r\n    \"isArmResource\": true,\r\n    \"tier\": \"P1\"\r\n  }\r\n}"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/05ca277d-968a-4f17-8816-184a0cee0a86?api-version=2020-06-30
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/05ca277d-968a-4f17-8816-184a0cee0a86?monitor=true&api-version=2020-06-30
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/eastus2/DiskOperations/05ca277d-968a-4f17-8816-184a0cee0a86?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"startTime\": \"2020-09-16T07:03:58.6829636+00:00\",\r\n  \"\
        endTime\": \"2020-09-16T07:03:58.8235459+00:00\",\r\n  \"status\": \"Succeeded\"\
        ,\r\n  \"properties\": {\r\n    \"output\": {\r\n  \"name\": \"disk123\",\r\
        \n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus2\"\
        ,\r\n  \"tags\": {},\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"sku\":\
        \ {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\": \"Premium\"\r\n  },\r\
        \n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"creationData\"\
        : {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\":\
        \ 1,\r\n    \"diskIOPSReadWrite\": 120,\r\n    \"diskMBpsReadWrite\": 25,\r\
        \n    \"encryption\": {\r\n      \"type\": \"EncryptionAtRestWithPlatformKey\"\
        \r\n    },\r\n    \"timeCreated\": \"2020-09-16T07:03:58.6829636+00:00\",\r\
        \n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\"\
        ,\r\n    \"diskSizeBytes\": 1073741824,\r\n    \"uniqueId\": \"2911ad2a-297f-45f2-a659-7e6d2b724f9f\"\
        ,\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"tier\": \"P1\"\r\n\
        \  }\r\n}\r\n  },\r\n  \"name\": \"05ca277d-968a-4f17-8816-184a0cee0a86\"\r\
        \n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks?api-version=2020-06-30
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"disk123\",\r\n  \
        \    \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_disk_zones000001/providers/Microsoft.Compute/disks/disk123\"\
        ,\r\n      \"type\": \"Microsoft.Compute/disks\",\r\n      \"location\": \"\
        eastus2\",\r\n      \"tags\": {},\r\n      \"zones\": [\r\n        \"2\"\r\
        \n      ],\r\n      \"sku\": {\r\n        \"name\": \"Premium_LRS\",\r\n \
        \       \"tier\": \"Premium\[...]
